*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.6rem;
}

h3{
  font-size: 2.1rem;
}

h4{
  font-size: 1.7rem;
}

/* Utilities */
.debug {
  background-color: rgba(222, 15, 15, 0.3);
  border: 1px solid black;
  height: 100%;
}

.test{
  background-color: rgba(255, 251, 0, 0.493);
}

.test2{
  background-color: rgba(106, 255, 0, 0.516);
}

.test3{
  background-color: rgba(0, 102, 255, 0.315);
}

.w-100{
  width: 100%;
}


.d-flex {
  display: flex;
}

.al-center {
  align-items: center;
}

.j-cont-between{
  justify-content: space-between;
}

.f-wrap{
  flex-wrap: wrap;
}

.f-dir-col{
  flex-direction: column;
}

.desktop {
  display: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}

/* /Utilities */



/*HEADER*/

header {
  height: 60px;
  background-color: #0084fd;
}

header .container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

header .logo img{
  width: 90%;
}

header .buttons i{
  color: white;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
}

header nav ul li a{
  display: inline-block;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

header nav ul li:last-child a{
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 10px 15px;
}


/*MAIN*/

main{
  margin-top: 30px;
}

.col{
  width: 100%;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #b5ddff;
}

section{
  margin-top: 40px;
}





/*RESPONSIVE*/
@media screen and (min-width:550px) {

  section .row .col.big{
    width: calc(100% - 30% - 30px);
  }
  
  section .row .col{
    width: calc(100% / 3 - 10px);
  }







}

@media screen and (min-width:1200px) {

  .desktop{
    display: block;
  }

  .mobile{
    display: none;
  }

  header .container{
    max-width: 60%;
  }

  .container{
    width: 60%;
    margin: 0 auto;
  }





  

}